VITE_SUPABASE_URL=https://hgzenotpvrotgpqcevle.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnemVub3RwdnJvdGdwcWNldmxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5NDA5NTgsImV4cCI6MjA5NjUxNjk1OH0.H_XqO8hWZmIiEDXEe194EUGpdwrVK7joHmE8BMpxyQs
